<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages %>
    <div id="form">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>

      <%= render "devise/shared/links" %>
      <%= f.submit 'Enviar confirmação', class: 'btn btn-default', id: 'reenviar-email' %>
    </div>
<% end %>
