<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages %>
    <div id="form">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>

      <%= f.label :password, 'Senha' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, 'Confirmar senha' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= render "devise/shared/links" %>
      <%= f.submit 'Registrar', id: 'registrar', class: 'btn btn-default' %>
    </div>


<% end %>


