<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages %>
    <div id="form">
      <%= f.hidden_field :reset_password_token %>

      <%= f.label :password, 'Nova senha' %>
      <%= f.password_field :password, :autofocus => true, class: 'form-control' %>

      <%= f.label :password_confirmation, 'Confirmação da senha' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= render "devise/shared/links" %>
      <%= f.submit 'Mudar senha', class: 'btn btn-default' %>
    </div>
<% end %>
