<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages! %>
    <table>
      <tbody>

      <%= devise_error_messages! %>

      <tr>
        <td>

          <%= f.label :email %>

        </td>
      </tr>


      <tr>
        <td>

          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>

        </td>
      </tr>


      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">

          <%= link_to "Voltar", new_session_path(resource_name), :id => "voltar", :class => "btn btn-default" %>
          <%= f.submit 'Refazer a senha', class: 'btn btn-default', id: 'refazer-senha' %>

        </td>
      </tr>
      </tfoot>
    </table>



<% end %>


