<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages %>
    <div id="form">

      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>

      <%= render "devise/shared/links" %>
      <%= f.submit 'Enviar email com instruções', class: 'btn btn-default', id: 'refazer-senha' %>

    </div>
<% end %>


