<!DOCTYPE html>
<html>
<head>
  <title>SGR - Login</title>
  <%= stylesheet_link_tag 'fundo' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <%= image_tag 'SGRLogo.png' %>
</div>

<div id="content">
  <%= yield %>
</div>


</body>
</html>
